*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
  color: pink;
  font-size: calc(5vw + 24px);
  margin-bottom: 25px;
  padding-top: 5rem;
}

ul {
  list-style: none;
}

.todo-container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 25px;
}
.container {
  padding-inline: 10%;
}
[name='option'] {
  display: none;
}

.options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.options label {
  border: 1px solid transparent;
}

.options label:has(:checked) {
  border-color: rgba(175, 47, 47, 0.1);
  background-color: lightcoral;
  border-radius: 12px;
  padding-inline: 12px;
  padding-block: 5px;
  font-weight: bold;
}

.options label:hover {
  background-color: lightcoral;
  border-radius: 12px;

  padding-inline: 12px;
  padding-block: 5px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 40px;
  color: pink;
  font-size: 15px;
}

.todo-input {
  width: 100%;
  border-radius: 7px;
  padding: 12px 12px;
  border-color: pink;
  border-style: solid;
  color: lightblue;

  &::placeholder {
    color: pink;
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid lightblue;
  }
}

.todo-input:visited {
  border-color: red;
}

h1:hover {
  text-shadow: 1px 1px 15px lightcoral;
  color: white;
}

.options label {
  cursor: pointer;
}

.todo-item {
  margin-bottom: 15px;
  & label {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.del-btn {
  background-color: pink;
  border: 1px solid white;
  padding-inline: 12px;
  padding-block: 5px;
  border-radius: 12px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.del-btn:hover {
  background-color: lightcoral;
  color: pink;
}

.todo-item:not(:last-child) {
  margin-bottom: 15px;
}

.todo-list.completed li:not(.completed) {
  display: none;
}

.todo-list.active li.completed {
  display: none;
}

.clearAll {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: pink;
  border-color: white;
  padding-inline: 12px;
  padding-block: 5px;
  border-radius: 12px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: pink;
}

.unvisible {
  display: none;
}

.clearAll:hover {
  background-color: pink;
  color: lightcoral;
}

.todo-item span:hover {
  opacity: 0.5;
  cursor: pointer;
}

.left {
  color: lightblue;
}
@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: pink;
    font-size: 15px;
  }
  h1 {
    text-align: center;
    color: pink;
    font-size: 70px;
    margin-bottom: 25px;
    padding-top: 5rem;
  }
}
